:root {
    --gray-1: #BBBBBB;
    --gray-2: #AAAAAA;
    --gray-3: #999999;
    --gray-4: #888888;
    --gray-5: #777777;
    --gray-6: #666666;
    --gray-7: #555555;
    --gray-8: #444444;
    --bg-color: #FFFFFF;
    --text-color-dark: #000;
    --text-color-light: #FFFFFF;
  
}
a {
    align-items: center;
    cursor: pointer;
    font-size: .5em;
}